/* Defined CSS Variables so the code is easier to read*/

/*:root {*/

/*--color-background: #5C362D;*/

/*#000000 Registration Black - Background*/

/*--color-nav-background: #DDADA9;*/

/*#CF5C36 Dark Coral - Nav Background*/

/*--color-descrip-background: #99736B;*/

/*#EEE5E9 Platinum - Description Background*/

/*--color-dark-text: #C9ABB3;*/

/*#7C7C7C Trolley Grey - Dark Text*/

/*--color-light-text: #D7C0D3;*/

/*#EFC88B Pale Gold - Light Text*/

/*--color-big-title1: linear-gradient(to bottom, #DDADA9, #000000);*/

/*#EEE5E9 to #EFC88B Plat to Gold Grad - Big Title*/

/*--color-big-title2: linear-gradient(to bottom, #000000, #DDADA9);*/

/*#EEE5E9 to #EFC88B Gold to Plat Grad - Big Title*/

/*--font-nav-font: "Motiva Sans", Sans-serif;*/

/*"Motiva Sans", Sans-serif - Nav Font*/

/*--font-text: proxima-nova, "Helvetica Neue", Helvetica, sans-serif;*/

/*proxima-nova, "Helvetica Neue", Helvetica, sans-serif - Text and Small Headings*/

/*--font-title: silkscreennormal;*/

/*silkscreennormal - Title Font*/

}

/* The @media checks for the window width to make, in this case, the text smaller or bigger*/

@media screen and (min-width:960px) {
  /* The text size will be bigger if the window size is well, bigger*/
  :root {
    --font-size-text: 30px;
  }
}

@media screen and (max-width:960px) {
  :root {
    --font-size-text: 20px;
  }
}

/* End of CSS Variables*/

/* These rules apply to every element in the HTML unless they say otherwise*/

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-text);
}

a {
  color: var(--color-descrip-background);
  text-decoration: none;
}

/* END OF THE GENERAL RULES*/

/* WRAPPED ELEMENTS*/

/* Here is a way for all the wrapped content to resize if we resize the window so everything fits in it until a certain point*/

@media screen and (max-width: 960px) {
  .wrapped40 {
    width: 80%;
    margin: auto;
  }
  .wrapped80 {
    width: 90%;
    margin: auto;
  }
  .wrapped60 {
    width: 85%;
    margin: auto;
  }
}

@media screen and (min-width: 960px) {
  .wrapped40 {
    width: 55%;
    margin: auto;
  }
  .wrapped80 {
    width: 90%;
    margin: auto;
  }
  .wrapped60 {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .wrapped40 {
    width: 40%;
    margin: auto;
  }
  .wrapped80 {
    width: 80%;
    margin: auto;
  }
  .wrapped60 {
    width: 60%;
    margin: auto;
  }
}

/* END OF WRAPPED ELEMENTS*/

/* The fixed elements like the nav bar are really fixed on the brower so when you scroll*/

.really_fixed {
  position: fixed;
}

/* NAVIGATION BAR */

/* The Navigation bar also has a @media because I wanted it to also fit on small screens*/

@media screen and (min-width: 960px) {
  #nav_bar {
    box-shadow: var(--color-background) 0px 0px 10px;
    z-index: 1;
    font-family: var(--font-nav-font);
    background-color: var(--color-nav-background);
    height: 50px;
    width: 100%;
  }
  #left_side {
    float: left;
  }
  #right_side {
    float: right;
  }
  #nav_menu li {
    margin: 5px 10px 0 10px;
    float: left;
    list-style-type: none;
    display: inline;
  }
  #nav_menu li a {
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 12px 20px;
    min-width: 100px;
  }
  #nav_menu li a:hover {
    box-shadow: var(--color-background) 0px 0px 5px;
  }
}

/* The smaller the window gets (to a certain point) the smaller the text gets and the bar as well */

@media screen and (max-width: 960px) {
  #nav_bar {
    box-shadow: var(--color-background) 0px 0px 10px;
    z-index: 1;
    font-family: var(--font-nav-font);
    background-color: var(--color-nav-background);
    width: 100%;
  }
  #nav_menu li {
    margin: 5px 10px 0 10px;
    list-style-type: none;
    display: inline-block;
  }
  #nav_menu li a {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 6px 10px;
  }
  #nav_menu li a:hover {
    box-shadow: var(--color-background) 0px 0px 5px;
  }
  #left_side {
    float: left;
  }
  #right_side {
    float: right;
  }
}

/* The page in which we are on should be hightlighted and diferent from others so we know what page we are on*/

.active_page a {
  color: var(--color-nav-background);
  background-color: var(--color-background);
}

.not_active_page a {
  background-color: var(--color-nav-background);
  color: var(--color-background);
}

/* In Pages besides the Home Page there is a title inside the navigation bar with the Raster Grapchis Title so we know we are on the right website */

#page_title_container_nav {
  width: auto;
  margin: auto;
}

#page_title_container_nav h1 {
  text-align: center;
  font-family: var(--font-title);
  background-image: var(--color-bit-title2);
  -webkit-background-clip: text;
  color: transparent;
}

/* END OF NAVIGATION BAR*/

/* Main Content Properties*/

#main {}

#page_title_container {
  transition: opacity ease-in-out;
  height: 100%;
  width: 100%;
}

#page_title_container img {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 100%;
  border: none;
  opacity: 0.6;
}

#page_title {
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  font-size: 150px;
  font-family: var(--font-title);
  background-image: var(--color-big-title1);
  -webkit-background-clip: text;
  color: transparent;
}

#content_container {
  position: relative;
}

#content01 {
  background-color: var(--color-nav-background);
}

#content01 p {
  text-align: justify;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-text);
  color: var(--color-light-text);
  padding: 30px 0;
}

#content02 {
  background-color: transparent;
}

#content02 img {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  top: 0;
}

#content02 p {
  text-align: justify;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-text);
  color: var(--color-light-text);
  padding: 30px 0;
}

#content03 {
  background-color: var(--color-nav-background);
}

#content03 p {
  text-align: justify;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-text);
  color: var(--color-light-text);
  padding: 30px 0;
}

/* End of Main Content Properties*/

/* Footer */

footer {
  width: 100%;
  height: 50px;
  background-color: var(--color-nav-background);
}

footer p {
  font-size: 8px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
